.ovjnr { 
  border-right-width: 32px;
  margin-top: 11px;
  border-top-width: 70px;
  line-height: 88px;
  border-left-width: 26px;
  border-top-width: 89px;
  font-size: 5px;
  margin-bottom: 61px;
  padding-top: 8px;
  line-height: 67px;
  padding-left: 21px;
  padding-left: 96px;
}
